<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucla.nesl.flowengine.abstractdevice.accelerometer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9" />

 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
                
	    <service
	        android:name=".AccelerometerService"
	        android:process=":remote">
	        <intent-filter>
	            <action
	                android:name="edu.ucla.nesl.flowengine.abstractdevice.accelerometer.AccelerometerService" />
	        </intent-filter>
	    </service>
    </application>

</manifest>